.loader {
  background-image: url('https://media.giphy.com/media/y1ZBcOGOOtlpC/200.gif');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
  text-indent: -999999px;
  width: 100%;
}

.no-records {
  text-align: center;
  margin: 50px 0;
}